<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Pomodoro</string>
	<key>CFBundleName</key>
	<string>Pomodoro</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSFocusStatusUsageDescription</key>
	<string>Pomodoro needs to access Focus Mode status to automatically enable Do Not Disturb during your work sessions and help you maintain concentration.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
</dict>
</plist>